from friends#index, yhooooooooooo!
<%= params %><br />
<%= @name %><br />
helper methods: <%= test_for_helper_method %><br />
<%= suffering %><br />
<%= smile %><br />
request:<br />
query_string: <%= request.query_string %><br />
path: <%= request.path %><br />
ip: <%= request.ip %><br />
parmas: <%= request.params %><br />

<% content_for :sidebars do %>
   <p>friends#index's sidebar.</p>
   <%= 455912224 / 3.14 %>
<% end %>